body {
    margin: 0;
    background-color: salmon;
    min-width: 300px;
}

ul {
    list-style-type: none;
    width: 100%;
}

.register-login {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: cadetblue;
}

.register-login li {
    float: right;
}

.register-login a{
    display: flex;
    width: 70px;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 40px;
    align-items: center;
}

.register-login li a:hover {
    background-color: darkcyan;
}

#global-feed {
    text-align: center;
    margin: 30px auto auto;

}

#global-feed img {
    width: 50%;
}

.feed-box {
    padding: 16px;
}

@media only screen and (min-width: 300px)  {
    .form-div {
        text-align: center;
        width: 90%;
    }
}


