* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    cursor: pointer;
}

body {
    margin: 0;
    background-color: cornsilk;
    min-width: 300px;
}

ul {
    list-style-type: none;
    width: 100%;
}

.register-login {
    height: 50px;
    position: fixed;
    display: inline-flex;
    width: 100%;
    top: 0;
    background-color: #835C21;
}

.register-login li {
    display: inline-flex;
    float: right;
}

.register-login button {
    width: 100px;
    color: #FFE7BA;
    text-decoration: none;
    text-align: center;
    height: 50px;
    align-items: center;
    background: #835C21;
    border: none;
}

.register-login li button:hover {
    background-color: #F7B649;
}

#global-feed {
    text-align: center;
    margin: 30px auto 30px;
    width: 90%;
}

#profile-content {
    margin: 30px auto;
    width: 90%;
    align-items: center;
    min-width: 250px;
}

#profile-header {
    align-items: center;
    display: flex;
    min-width: 250px;
    margin: 3em;
}

#header-element {
    display: flex;
    padding: 10px;
}

#global-feed img {
    width: 75%;
    max-height: 420px;
    padding: 10px;
}
#global-feed header{
    text-align: left;
    margin-left: 10%;
    margin-top: 2px;
}
.feed-box {
    overflow: no-display;
    padding: 6px;
    border: 1px solid #835C21;
    background-color: #FFE7BA;
    margin-top: 60px;
    font-size: 14px;
}

#feed-bar {
    align-items: center;
    display: flex;
    height: 50px;
    min-width: 250px;
}
.feed-user{
    font-size: 30px;
}
.feed-date{
    font-size: 14px;
    text-align: left;
    margin-left: 5%;
    margin-top: 2px;
}

#feed-bar img {
    height: 50px;
    width: 50px;
}
#feed-bar button{
}

@media only screen and (min-width: 250px) {
    .form-div {
        text-align: center;
        width: 90%;
    }
}
article{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.comment-div{
    height: fit-content;
}
.comment-window{
    height: 200px;
    overflow: scroll;
    padding: 2px;
    width: 75%;
    margin: 10px auto 0;
    background-color: cornsilk;
    border: 1px solid #835C21;
    text-align: left;
}
.sender{
    margin: 2px;
    color: #FF9C09;
}
#delete-button{
}

#feed-right{
    margin-right: 0;
    margin-left: auto;
}
.comment{
    width: fit-content;
    margin-left: 10px;
    display: block;
}
.user-info{
    align-items: center;
    display: flex;
    height: 100%;
    width: fit-content;
}
.user-info:hover{
    cursor: pointer;
    background-color: #F7B649;
}

.c-form-send{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
}
.user-window{
    color: #2C1704;
    margin-top: 300px;
    left: 0;
    width: 300px;
    position: sticky;
    background-color: cornsilk;
    text-align: left;
}
.user-window li{
    border: 1px solid #835C21;
    padding: 5px;
    font-size: 20px;
    height: 40px;
}
.user-window button{
    height: 50px;
    width: 100%;
    background-color: #835C21;
    color: #FFE7BA;
}
.pm-div{
    width: 90%;
    margin-right: auto;
    margin-left: auto;

}
.pm-form{
    color: #FFE7BA;
    height: fit-content;
    background-color: #835C21;
    align-items: center;
}
.comment-box{
    margin: 2px;
    width: fit-content;
}
.comment-send{
    margin-top: 10px;
    height: 100%;
    width: fit-content;
    display: inline;
    color: #FFE7BA;
    background-color: #835C21;
}
.comment-form{
    display: none;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

#user{
    font-size: 30px;
    margin-right: 20px;

}
#profile-pic{
    visibility: hidden;
    height: 40px;
    width: auto;
}
.upload-dropdown{
    left: 0;
    font-size: 30px;
}
.upload-dropdown:hover{
    background-color: #FFE7BA;
    color: #2C1704;
}
.upload-div{
    text-align: center;
    display: none;
    position: fixed;
    padding: 0;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: #FFE7BA;
    background-color: #835C21;
}
.upload-div li, .upload-div button{
    height: 50px;
}
#upload-form, #upload-video{
    display: block;
    height: fit-content;
    width: 300px;
    background-color: #835C21;
}
#upload-form input, #upload-form button , #upload-form h3, #upload-form input[type=button],
#upload-video input, #upload-video button, #upload-video h3 #upload-video input[type=button]{
    font-size: 16px;
    color: #2C1704;
    width: 100%;
}

#profile-dropdown{
    color: #FFE7BA;
    width: fit-content;
    height: 100%;
    background-color: #835C21;
    padding: 2px;
    align-items: center;

    visibility: hidden;
    cursor: pointer;
}
#profile-dropdown:hover{
    background-color: #FFE7BA;
    color: #2C1704;
}
#profile-menu{
    float: right;
    visibility: hidden;
    margin-right: 0;
    width: 210px;
    height: fit-content;

}
#profile-menu-list{
    height: fit-content;
    position: fixed;
}
#profile-menu-list a{
    text-decoration: none;
}
.form-div{
    position: fixed;
}

.pic-comments{
    height: fit-content;
    width: 100%;
}
#profile-pic-form-visible{
    color: #FFE7BA;
    height: fit-content;
    width: 350px;
    right: 0;
    visibility: hidden;
    background-color: #2C1704;
}
.log-reg-form{
    height: fit-content;
    width: fit-content;
    float: right;
}
#register-form{
    color: #FFE7BA;
    height: fit-content;
    width: 350px;
    right: 0;
    visibility: hidden;
    background-color: #835C21;
}

#login-form{
    right: 0;
    color: #FFE7BA;
    height: fit-content;
    width: 300px;
    visibility: hidden;
    background-color: #835C21;
}
#message{
    height: auto;
    overflow: auto;
}
#register-form button, #login-form button, .button-menu-style,#register-form input[type=submit] , #login-form input[type=submit], #global-feed .show-comments, .delete-button, .upload-div button, .pm-form button{
    background-color: #835C21;
    color: #FFE7BA;
    width: 100%;
}

#register-form button:hover, #login-form button:hover,.button-menu-style:hover ,#global-feed button:hover, .upload-div button:hover, .pm-form button:hover{
    color: #2C1704;
    background-color: #FFE7BA;
}
#global-feed .show-comments{
    width: 75%;
}
#register-form input, #login-form input{
    color: #2C1704;
    background-color: #FFE7BA;
    width: 80%;
}
#register-form input[type=submit]:hover , #login-form input[type=submit]:hover{
    color: #2C1704;
    background-color: #FFE7BA;
    cursor: pointer;
}
.button-menu-style{
    width: 200px;
}

@media only screen and (max-width: 450px) {

    .register-login li button {
        text-align: center;
        margin: auto;
    }

    #register-form, #login-form, #profile-dropdown, #profile-menu, #profile-menu-list #profile-dropdown button{
        font-size: 30px;
        width: 100%;

    }
    #profile-menu-list button{
        font-size: 30px;
        width: 100%;
        height: 50px;
    }
    #login-form input,#register-form input, #profile-dropdown input #login-form button, #register-form button, #profile-dropdown button, form button{
        height: 40px;
        font-size: 30px;
    }
    #profile-dropdown{
        height: 100%;
        width: fit-content;
        padding: 2px;
        visibility: hidden;
    }
}
