body {
    margin: 0;
    background-color: salmon;
    min-width: 300px;
}

ul {
    list-style-type: none;
    width: 100%;
}

.register-login {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: cadetblue;
}

.register-login li {
    float: right;
}

.register-login a {
    display: flex;
    width: 70px;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 40px;
    align-items: center;
}

.register-login li a:hover {
    background-color: darkcyan;
}

#global-feed {
    text-align: center;
    margin: 30px auto auto;
    width: 90%;

}

#global-feed img {
    width: 50%;
    padding: 10px;
}

.feed-box {
    padding: 6px;
    border-style: groove;
    margin-top: 40px;
    font-size: 14px;
}

#feed-bar {
    align-items: center;
    display: flex;
    height: 30px;
    min-width: 250px;
}

#feed-right {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#feed-bar img {
    height: 40px;
    width: 40px;
}

@media only screen and (min-width: 250px) {
    .form-div {
        text-align: center;
        width: 90%;
    }
}

.modal {
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-inner {
    position: fixed;
    bottom: 0;
    background-color: #68cc3f;
    width: 100%;
    height: 40px;
}