* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #FFE7BA;
    min-width: 300px;
}

ul {
    list-style-type: none;
    width: 100%;
}

.register-login {
    height: fit-content;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #835C21;
}

.register-login li {
    display: inline-flex;
    float: right;
}

.register-login button {
    width: 100px;
    color: #FFE7BA;
    padding: 5px;
    display: flex;
    text-decoration: none;
    text-align: center;
    height: 48px;
    align-items: center;
    background: #835C21;
    border: none;
}

.register-login li button:hover {
    background-color: #F7B649;
}

#global-feed {
    text-align: center;
    margin: 30px auto auto;
    width: 90%;
}

#profile-content {
    margin: 30px auto;
    width: 90%;
    align-items: center;
    min-width: 250px;
}

#profile-header {
    align-items: center;
    display: flex;
    min-width: 250px;
    margin: 3em;
}

#header-element {
    display: flex;
    padding: 10px;
}

#global-feed img {
    width: 50%;
    padding: 10px;
}
#global-feed header{
    text-align: left;
    margin-left: 10%;
    margin-top: 2px;
}
.feed-box {
    padding: 6px;
    border: 1px solid #835C21;
    margin-top: 60px;
    font-size: 14px;
}

#feed-bar {
    align-items: center;
    display: flex;
    height: 30px;
    min-width: 250px;
}
.feed-user{
    font-size: 30px;
}
.feed-date{
    font-size: 14px;
    text-align: left;
    margin-left: 5%;
    margin-top: 2px;
}

#feed-right {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#feed-bar img {
    height: 40px;
    width: 40px;
}

@media only screen and (min-width: 250px) {
    .form-div {
        text-align: center;
        width: 90%;
    }
}

.modal {
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
article{

}
.menu-button{

}
.comment-div{
    height: fit-content;
}
.comment-window{
    padding: 2px;
    width: 50%;
    margin: 10px auto 0;
    text-align: left;
}
.sender{
    margin: 2px;
    color: #2C1704;
}
.show-comments{

}
.comment{
}
.comment-box{
    margin: 2px;
    background-color: #F7B649;
    width: fit-content;
}
.comment-send{
    margin-top: 10px;
    height: 100%;
    width: auto;
    color: #FFE7BA;
    background-color: #835C21;
}
.comment-send:hover{
    color: #2C1704;
    background-color: #F7B649;
    border-color: #2C1704;
}
.comment-form{
    display: none;
}
#user{
    font-size: 30px;
    margin-right: 20px;

}

#profile-pic{
    visibility: hidden;
    height: 40px;
    width: auto;
}

.upload-div{
    display: none;
    padding: 0;
    margin: 50px 10% -35px;
    height: fit-content;
    width: 80%;
    border: 2px solid #835C21;
    background-color: #F7B649;
}
#upload-form{
    display: inline;
    height: fit-content;
}
#upload-form input, #upload-form button , #upload-form h3, #upload-form input[type=button],
#upload-video input, #upload-video button, #upload-video h3 #upload-video input[type=button]{
    font-size: 16px;
    color: #2C1704;
    width: 25%;
}

#profile-dropdown{
    color: #2C1704;
    width: 210px;
    background-color: #F7B649;
    border: 2px solid #FF9C09;
    padding: 2px;
    height: fit-content;

    visibility: hidden;
    cursor: pointer;
}
#profile-dropdown:hover{
    background-color: #FFE7BA;
}
#profile-menu{
    float: right;
    visibility: hidden;
    margin-right: 0;
    width: 210px;
    height: fit-content;

}
#profile-menu-list{
    height: fit-content;
    position: fixed;
}
#profile-menu-list a{
    text-decoration: none;
}
.form-div{
    position: fixed;
}
#register-form{
    color: #835C21;
    height: fit-content;
    width: 350px;
    right: 0;
    visibility: hidden;
    background-color: #F7B649;
}
#profile-pic-form{

}
#profile-pic-form-visible{
    color: #835C21;
    height: fit-content;
    width: 350px;
    right: 0;
    visibility: hidden;
    background-color: #F7B649;
}
.log-reg-form{
    height: fit-content;
    width: fit-content;
    float: right;
}
#login-form{
    right: 0;
    color: #835C21;
    height: fit-content;
    width: 300px;
    visibility: hidden;
    background-color: #F7B649;
}


#register-form button, #login-form button, .button-menu-style,#register-form input[type=submit] , #login-form input[type=submit]{
    color: #F7B649;
    background-color: #FF9C09;
    width: 100%;
}

#register-form button:hover, #login-form button:hover,.button-menu-style:hover{
    color: #2C1704;
    background-color: #FFE7BA;
}
#register-form input, #login-form input{
    color: #2C1704;
    background-color: #FFE7BA;
    width: 80%;
}
#register-form input[type=submit]:hover , #login-form input[type=submit]:hover{
    color: #2C1704;
    background-color: #FFE7BA;
    cursor: pointer;


}
.button-menu-style{
    width: 200px;
}
@media only screen and (max-width: 420px) {
    .register-login{
    }
    .register-login li {
        width: 50%;
    }
    .register-login li button{
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width:100%;
    }
}
